.courses-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    position:relative;
}

@media screen and (max-width:768px) {

   .courses-container{
    display: grid;
    grid-template-columns:1fr;
    position:relative;
} 
}


